@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);

body {
	background-color: #EEE;
	color: #262626;
	font-size: 62.5%;
	font-family: 'Cabin', serif;	
	text-shadow: #FFFFFF 0px 2px 0px;
}

#about {
	margin: 0 auto;
	width: 100%;
	padding-top: 1rem;
	text-align: center;
}

h1 {	
	letter-spacing: 0.02em;
	font-size: 3.7rem;
	margin-bottom: 1.7rem;
	font-family: 'Lobster', sans-serif;
}

b {
	font-weight: 700;
}

section {
	padding: 0 1rem;
}

header {
	margin-bottom: 1.7rem;
}

p {
	font-size: 1.2rem;
	text-align: justify;
	line-height: 1.8rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin: 1rem 0;
}

header p {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Lobster', sans-serif;
	letter-spacing: 0.1rem;
}

nav {
	margin-top: 1.5rem;
}

img {
	padding: 6px;
	width: 1.4rem;
	height: 1.4rem;
}

/*@media only screen and (max-width : 320px) {
	h1, h2, h3, h4, h5, p, nav {
		font-size: 7em;
	}
}

@media only screen and (min-width : 321px) and (max-width : 768px) {
	#content {
		max-width:96em;
	}

	h1, h2, h3, h4, h5, p, nav {
		font-size: 16em;
		letter-spacing: 0.01em;
	}
}

@media only screen and (min-width : 769px) and (max-width : 1024px) {
	#content {
		max-width:125em;
	}

	h1, h2, h3, h4, h5, p, nav {
		font-size: 20em;
		letter-spacing: 0.03em;
	}
}

@media only screen and (min-width : 1025px) {
	#content {
		max-width:160em;
	}

	h1, h2, h3, h4, h5, p, nav {
		font-size: 24em;
		line-height: 1.1em;
		letter-spacing: 0.03em;
	}
}*/





