@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

body {
	background-color: #eee;
	color: #262626;
	font-size: 62.5%;
	padding: 1rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#page {
	background-color: #f9f9f9;
	padding: 2rem 1rem;
}

article {
	margin: 0 auto;
	width: 100%;
	font-size: 1.6rem;
	line-height: 2rem;
	letter-spacing: 0.03em;
	text-align: center;
}

p {
    text-align:justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens:auto;
}

p:first-letter {
	font-size: 4.9rem;
	float: left;
	margin: 0 0.5rem 0rem 0;
	line-height: 4rem;
}

header {
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 0.02em;
}

h1 {	
	text-shadow: #FFFFFF 0px 2px 0px;
	font-size: 3.2rem;
	margin-bottom: 1rem;
	font-weight: 700;
}

header span {
	font-size: 1.8rem;
	margin-bottom: 0.6rem;
	display: block;
}

b {
	font-weight: 700;
}

#tree {
	max-width: 60%;
	padding: 1rem 0.7rem 1rem 0rem;
}

nav ul {
	list-style: none;
	padding: 2rem 0;
}

nav ul li {
	/*display: list-item;*/
	float: left;
	width: 50%;
	text-align: center;
	padding: 0.5rem 0 0 0;
}

a, a:active, a:focus, a:hover, a:visited {
	text-decoration: none;
	color: #262626;
}

.clearfix {
	clear: both;
}

@media only screen and (min-width: 561px) {

	#page {
		width: 40rem;
		margin: 0 auto;
	}

}