* {
	@include prefix(box-sizing, border-box);
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f9f9f9;
}

p, figcaption {
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
}

ul, ol, figure {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.area {
	margin-bottom: 4rem;

	b {
		color: $color-gray;
	}
}

.logo-wrapper {
	max-width: 28rem;
	margin: 0 auto;
	display: block;
	padding: 2rem 0 1.5rem 0;

	@include media(medium) {
		max-width: 35rem;
		padding: 4rem 0 2rem 0;
	}
}

.logo {
	width: 100%;
}