// 100% = 1 em ~= 16px ~= 14pt
// 10px	0.625em
$emRatio: 16;

$breakpoints: (
	medium: (400/$emRatio) + em,
	large: (720/$emRatio) + em,
	xtraLarge: (960/$emRatio) + em
);

@mixin media($breakpoint) {

	@at-root .ie-lt-9 {
		@content;
	}

	@media all and (min-width: #{map-get($breakpoints, $breakpoint)}) {
		@content;
	}

}

.media-queries-enabled {
	visibility: hidden;
	width: 1px;
	height: 0;
	display: block;
}

@media all and (min-width: 1px) {
	.media-queries-enabled {
		width: 0;
	}
}

.indiana-jones-browser {
	background-color: #FF5555;
	color: #ffffff;
	border-top: 1px
	solid #FF0D0D;
	padding: 40px 10px;
	text-align: center;
	font-size: 28px;
}
