$lightenPercent: 3%;

$color_a: #053B44;
$color_a-lighter: lighten($color_a, $lightenPercent);

$color_b: #06736C;
$color_b-lighter: lighten($color_b, $lightenPercent);

$color_c: #A53539;
$color_c-lighter: lighten($color_c, $lightenPercent);

$color_d: #B9543C;
$color_d-lighter: lighten($color_d, $lightenPercent);

$color_e: #EAD075;
$color_e-lighter: lighten($color_e, $lightenPercent);

