$lightenPercent: 3%;

$color-a: #F35844;
$color-a-lighter: lighten($color-a, $lightenPercent);

$color-b: #F39B44;
$color-b-lighter: lighten($color-b, $lightenPercent);

$color-c: #2D8296;
$color-c-lighter: lighten($color-c, $lightenPercent);

$color-d: #33B655;
$color-d-lighter: lighten($color-d, $lightenPercent);

$color-gray: #383838;
$color-gray-lighter: #F0F0F0;
