.header {
	height: 10px;
	width: 100%;
	float: left;
	margin: 0;
	background-color: $color_a;
	border-bottom: 1px solid #e9e9e9;

	@include media(large) {
		width: 50%;
	}
}

.header {
	&-extra {
		display: none;

		@include media(large) {
			display: block;
		}
	}

	%header-color {
		height: 100%;
		float: left;
	}

	&-color-a {
		@extend %header-color;
		@include gradient-vertical($color_a_lighter,$color_a);
		width: 15%;
	}

	&-color-b {
		@extend %header-color;
		@include gradient-vertical($color_b_lighter,$color_b);
		width: 25%;
	}

	&-color-c {
		@extend %header-color;
		@include gradient-vertical($color_c_lighter,$color_c);
		width: 30%;
	}

	&-color-d {
		@extend %header-color;
		@include gradient-vertical($color_d_lighter,$color_d);
		width: 20%;
	}

	&-color-e {
		@extend %header-color;
		@include gradient-vertical($color_e_lighter,$color_e);
		width: 10%;
	}
}