.quotes {
	overflow: hidden;

	&-item {
		padding-bottom: 3rem;

		dt {
			font-style: italic;
		}

		dd {
			text-align: center;
			font-family: $sans-serif;
			margin: 0;
		}

		@include media(large) {
			float: left;
			width: 50%;

			&-one {
				margin-right: 1rem;
				margin-left: 0.4rem;
			}

			&-two {
				margin-left: 1rem;
				margin-right: 0.4rem;
			}
		}

		@include media(xtraLarge) {
			padding-bottom: 0;
		}

	}
}
